<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="G9Claw"
    Manufacturer="G9Claw Contributors"
    Version="0.1.0"
    Scope="perMachine"
    UpgradeCode="{F4EF07B0-51E6-4A77-9C6C-D4A8D57D271B}">
    <MajorUpgrade DowngradeErrorMessage="A newer version of G9Claw is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="G9Claw" />
    </StandardDirectory>

    <ComponentGroup Id="PublishedFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)**\*" />
    </ComponentGroup>

    <Feature Id="Main" Title="G9Claw" Level="1">
      <ComponentGroupRef Id="PublishedFiles" />
    </Feature>
  </Package>
</Wix>
